*{
    margin: 0;
    padding: 0;
    /* background-image: url('C:\\Users\\Balaji M\\Desktop\\PROJECTS\\Social_media\\FrontEnd\\images\\Background.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

/* div{
    background-color: rgba(255, 255, 255, 1); 
    padding: 20%; 
    border: solid white 10px;
    height: 50%;
    width: 50%;
} */


